In [4]:
import numpy as np 
import pandas as pd

#reindex方法,创建一个数据根据新索引重新排列的新对象
obj=pd.Series([1,2,3,4],index=[1,2,3,4])
print(obj)

#obj2=pd.Series([1,2,3,4],index=[1,2,3,4,5,6])#ValueError: Length of values (4) does not match length of index (6)

#新的添加的索引会显示缺失
obj2=obj.reindex([1,2,3,4,5,6])
obj2

1    1
2    2
3    3
4    4
dtype: int64

1    1.0
2    2.0
3    3.0
4    4.0
5    NaN
6    NaN
dtype: float64

In [ ]:
#对于有序的数据,重建索引可能需要填值或插值处理,,method选项可以用ffill,可以向前填充值

data=pd.Series([1,2,3,],index=[0,4,5])
print(data)

0    1
4    2
5    3
dtype: int64

In [ ]:
#填值,补全索引
data2=data.reindex(np.arange(6),method='ffill')
data2

0    1
1    1
2    1
3    1
4    2
5    3
dtype: int64

In [11]:
#借助dataframe,reindex可以同时修改行,列.只传入一个序列时会重建索引结果中的行
frame=pd.DataFrame(np.arange(9).reshape(3,3),
                   index=["a","b","c"],
                   columns=["ohio","texas","dc"])
print(frame)

   ohio  texas  dc
a     0      1   2
b     3      4   5
c     6      7   8

In [ ]:
#修改列标签columns=
frame2=frame.reindex(columns=["ohio", "texas",  "dc" ,"california"])
print(frame2)

#修改行索引标签index=
frame3=frame2.reindex(index=["a","c","d"])
frame3

#index新增d,d行会显示空值,而缺失b,b行所以不会显示

   ohio  texas  dc  california
a     0      1   2         NaN
b     3      4   5         NaN
c     6      7   8         NaN

   ohio  texas   dc  california
a   0.0    1.0  2.0         NaN
c   6.0    7.0  8.0         NaN
d   NaN    NaN  NaN         NaN

In [ ]:
#reindex的参数说明:
"""
method="ffill"向前填充,"bfill"向后填充
index
column
axis=
等等详细看文档
"""

In [ ]:
#可以用loc运算符重建索引
frame=pd.DataFrame(np.arange(9).reshape(3,3),
                   index=["a","b","c"],
                   columns=["ohio","texas","dc"])
print(frame)

#frame.loc["a"]loc还可以取行,注意loc是属性使用[]
frame.loc[["a","c","b"],["dc","texas","ohio"]]

   ohio  texas  dc
a     0      1   2
b     3      4   5
c     6      7   8

   dc  texas  ohio
a   2      1     0
c   8      7     6
b   5      4     3