In [1]:
#整数索引的易错点
import pandas as pd
import numpy as np

#创建整索引的series
ser = pd.Series(np.arange(3.))
ser

0    0.0
1    1.0
2    2.0
dtype: float64

In [2]:
#对于整数索引,输入-1,pandas无法判断-1是整数索引还是标签,
#与Python中的列表和元组不同,他们没有标签索引
ser[-1]

KeyError: -1

In [ ]:
#但是对于有标签的series来说,pandas就可以确认了
ser2=pd.Series(np.arange(3),index=["a","b","c"])
ser2

a    0
b    1
c    2
dtype: int64

In [ ]:
ser2[-1]        #为避免错误建议使用iloc和loc

C:\Users\l\AppData\Local\Temp\ipykernel_6516\811950851.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  ser2[-1]

np.int64(2)

In [13]:
#链式索引的易错
import pandas as pd
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=["Ohio", "Colorado", "Utah", "New York"],
                    columns=["one", "two", "three", "four"])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [ ]:
#错误示例:
print(data[data.three>=10])

#这种链式选取赋值并不会修改原始dataframe    

data[data.three>=10]["three"]=0 #SettingWithCopyWarning:警告用户正在修改临时值

          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15

C:\Users\l\AppData\Local\Temp\ipykernel_32288\2821049113.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[data.three>=10]["three"]=0

In [18]:
data
#data没变变得是data[data.three>=10]这个切片

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [ ]:
#正确修改data的写法是:
#data[data.three>=10,"three"]=0  错误写法,方括号不支持
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=["Ohio", "Colorado", "Utah", "New York"],
                    columns=["one", "two", "three", "four"])
#正确写法使用loc(选行再选列)
data.loc[data.three>=10,"three"]=0
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9      0    11
New York   12   13      0    15

In [12]:
#reindex 是用于重建索引的方法，无法直接赋值
data.reindex(index=data.three>=10,columns="three")=1#TypeError

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (3288742213.py, line 2)