In [1]:
#在构建dataframe或series时,所用到的任何数组或者其他标签序列都会转换为索引对象
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [4]:
frame1=pd.DataFrame(np.arange(3),index=["a","b","c"],columns=["num"])
frame1

   num
a    0
b    1
c    2

In [6]:
#获取索引对象
index=frame1.index
print(index)
index[1:]

Index(['a', 'b', 'c'], dtype='object')

Index(['b', 'c'], dtype='object')

In [ ]:
#索引对象不可修改
index[1]="d"#TypeError

In [ ]:
#不可变性可以使索引安全的互通多个dataframe

#pd.Index()方法可以创建索引标签
labels=pd.Index(np.arange(1,6))
print(labels)

#互通索引:
frame2=pd.DataFrame({"height":[1,2,3,4,5]},index=labels)
frame2

Index([1, 2, 3, 4, 5], dtype='int64')

   height
1       1
2       2
3       3
4       4
5       5

In [ ]:
#检查frame2的标签是否对应labels
frame2.index is labels

True

In [12]:
#检查列索引
frame2.columns
"height" in frame2.columns

True

In [ ]:
#dataframe允许有重复索引

labels2=["a","a","c"]

frame3=pd.DataFrame(np.arange(3),index=labels2,columns=np.array(["number"]))#不能单独使用number,传索引序列,columns 参数接受任何可迭代对象
frame3

   number
a       0
a       1
c       2

In [ ]:
#选取重复索引会得到所有值,loc 是 DataFrame 的一个属性，而不是方法

#frame3.loc("a")错误

frame3.loc["a"]#返回全部重复索引的数据

   number
a       0
a       1

In [29]:
#索引的方法和属性
#1,连接另一个索引
index1=pd.Index([1,2,3])
index2=pd.Index([1,2,3])

index3=index1.append(index2)
index3

Index([1, 2, 3, 1, 2, 3], dtype='int64')

In [ ]:
#两个索引值加起来
index3=index1+index2
index3

Index([2, 4, 6], dtype='int64')

In [ ]:
#后续查看详细文档